/*hero.css*/

.container{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.container-boxes{
    width:70%;
    height: 80%;
    background-color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 3px 6px 13px rgb(69, 54, 79)
}
.hero-right{
    width: 50%;
}
.hero-left-img{
    border: 3px solid rgb(69, 54, 79);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.title{
    font-size: 30px;
    color:#333;
}

.description{
    margin-top:20px; 
    color: #555;   
}
.btn{
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    padding: 15px;
    padding-top:10px 20px 10px 20px ;
    color: #fff;
    background-color:rgb(69, 54, 79);
    font-weight: 600;
    box-shadow: 1px 4px 10px gray;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover {
    background-color:rgb(125, 103, 139);
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 1px 4px 10px gray;
}
/* Responsive styling for hero section */
@media screen and (min-width:100px)and (max-width:750px){
    .container-boxes{
        width:100%;
        flex-direction: column;
    }
    .hero-left-img{
        height: 200px;
        width: 200px;
    }
    .hero-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title{
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 15px;
    }
    .description{
        margin-top:50px;   
        padding-left: 15px; 
    }
}